<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kosár</title>
</head>

<body>


    <h1>Kosár</h1>
<main id="app">
    <!-- hozzáadás -->
    <div>
        <input type="text"placeholder="Termék neve" v-model="newItem.name" @keydown.enter = "AddNewItem()">
    </div>
    <div>
        <input type="number" placeholder="Darabszám" v-model="newItem.count" @keydown.enter = "AddNewItem()">
    </div>
    <div>
        <input type="number" placeholder="Egységár" v-model="newItem.basePrice" @keydown.enter = "AddNewItem()">
        <span> Ft </span>
    </div>
    <div>
        <button @click = "AddNewItem()">Hozzáadás</button>
    </div>

    <!-- lista -->
    <ul>
        <li v-for ="item in itemCollection">{{item.name}}
        <ul>
            <li>
                darabszam :{{item.count}}
            </li>
            <li>
                egysegar :{{item.basePrice}}
            </li>
            <li>
                osszesen :{{item.GetTotalPrice()}}
            </li>
        </ul>
        </li>
    </ul>

    <span>osszegzes: {{GetTotal()}}</span>
</main>
    <!-- scripts.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="CartItem.js"></script>
    <script defer src="scripts-vue.js"></script>

</body>

</html>